.login-menu {
    font-family: "Almendra", serif;
    background-color: #f8f5de;
    background-image: linear-gradient(to right,
        rgba(255, 210, 0, 0.4),
        rgba(200, 160, 0, 0.1) 11%,
        rgba(0, 0, 0, 0) 35%,
        rgba(200, 160, 0, 0.1) 65%);
    opacity: 100;
    text-align: justify;
    text-justify: inter-word;
    font-family: "Almendra", serif;
    z-index: 99999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    max-height: 95%;
    overflow: auto;
    max-width: 900px;
    min-width: 40%;
    min-height: 40%;
    padding: 10px;
    border: 2px solid black;

    h1 {
        font-weight: bold;
        margin: 2rem 0;
        text-align: center;
        color: rgba(0, 0, 0, 0.9);
    }
}