.start-game-button {
    width: 8rem;
    height: 3rem;
    margin: 2rem;
    background: rgba(33, 235, 110, 0.95);
    cursor: pointer;
    border-radius: .5rem;
    color: white;

    &:hover {
        background: rgba(33, 235, 50, 0.3);
        color: black;
    }
}