.take-place-button {
  width: 8rem;
  height: 90%;
  min-height: 4rem;
  border-radius: 0.5rem;
}

.take-place-enabled {
  background: rgba(33, 151, 33, 0.95);
  cursor: pointer;
  color: white;

  &:hover {
    background: rgba(33, 151, 33, 0.5);
    color: black;
  }
}
