.gamerooms {
    font-family: "Almendra", serif;
    background-color: #f8f5de;
    background-image: linear-gradient(to right,
        rgba(255, 210, 0, 0.4),
        rgba(200, 160, 0, 0.1) 11%,
        rgba(0, 0, 0, 0) 35%,
        rgba(200, 160, 0, 0.1) 65%);
    opacity: 100;
    text-align: justify;
    text-justify: inter-word;
    font-family: "Almendra", serif;
    z-index: 99999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    max-height: 95%;
    overflow: auto;
    max-width: 900px;
    min-width: 50%;
    padding: 10px;
    border: 2px solid black;
    min-height: 40%;

    h1 {
        font-weight: bold;
        margin: 2rem 0;
        color: rgba(0, 0, 0, 0.9);
    }

    .list-item {
        width: 100%;
        background-color: rgba(255, 255, 255, .8);
        ;
        border: 1px solid black;
        height: 5rem;
        padding: .5rem;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 992px) {
    .gamerooms {
        width: 70%;
    }

}

@media only screen and (max-width: 720px) {
    .gamerooms {
        width: 98%;
    }

}